/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


/* fonts */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.miama{
    font-family: 'Miama', sans-serif;
}
  /* body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html{
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
/* shared content */
.display{
    display: none;
}
.btn-pri{
    border: none;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
}
.btn-sec{
    margin-left: 10px;
    border: 1px solid white;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 40px;
    background: transparent;
}
.primary-bg{
    background: linear-gradient( rgb(17, 17, 17),rgba(110, 110, 110) 100%);
}
.first-color{
    color: rgb(230, 83, 60);
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
}
.scn-btn{
    display: none;
}
section{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1440px;
    max-height: 2000px;
}
/* hero section */
header{
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    background: linear-gradient( rgb(10, 10, 10),rgb(20, 20, 20),rgb(10, 10, 10));
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h1{
    margin-top: 50px;
    margin-left: 190px;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}
.menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 50px;
    margin-right: 190px;
    padding:8px 2px;
}
ul{
    list-style: none;
    display: flex;
    gap: 45px;

}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    padding:8px 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}
.menu-icon{
    display: none;
}
.home-effect{
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    padding: 6px 16px;
    text-align: left;
    font-weight: 600;
}
.hero-content{
    margin:0 190px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
}
.hero-text h1{
    margin-top: 100px;
    font-size: 4.5rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0%;
    line-height: 130%;
    margin-bottom: 25px;
}
.shape{
    font-family: Miama ;
    font-size: 9rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 100%;
}
.hero-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 30px;
}
.hero-photo{
    max-width: 500px;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-card-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -350px;
    margin-left: -50px;
    margin-right:-100px;
    width: 210px;
    height: 95px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(48,48,48,0.2);
}
.hero-card-one-circle{
    width: 40px;
    height: 40px;
    background-color:rgb(230, 83, 60);
    border-radius: 50%;
}
.hero-card-one-text h1{
    font-size:1.5rem ;
    color: #fff;
    font-weight: 900;
}
.hero-img img{
    margin: 37px auto;
    width: 350px;
    height: 580px;
}
.hero-card-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left:-120px;
    width: 200px;
    height: 95px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(48,48,48,0.2);
}
.hero-card-two h1{
    font-size:2.5rem ;
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.hero-card-two p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/* habits style */
.habits{
    margin:0 auto ;
    max-width: 1060px;
}
.habits-text{
    margin: 0 auto;
    max-width: 670px;
}
.habits-text h1{
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.habits-text p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.habits-card{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.habits-card-one{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 275px;
}
.habits-card-one img{
    margin: 0 auto;
    width: auto;
    height: 180px;
    border-radius: 50%;
}
.habits-card-one h3{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
    color: #fff;
}
.habits-card-one p{
    font-size: 0.875rem;
    margin-top: 10px;
    text-align: center;
    color:rgba(255, 255, 255, 0.5);
}
/* run-extra */
.run-extra{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1060px;
}
.run-extra-content{
    margin-bottom: 100px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 165px;

}
.run-extra-text h1{
    margin-bottom: 25px;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}
.run-extra-text p{
    margin-bottom: 25px;
    font-size: 0.875rem;
    color:rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3;
    line-height: 24px;
}
.run-extra-img img{
    height: 300px;
    width: 385px;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 30%;
}
/* trainings */
.trainings{
    margin:0 auto;
    max-width: 1060px;
}
.trainings-text h1{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
}
.trainings-text p{
    font-size: 0.875rem;
    color:rgba(255, 255, 255, 0.5);
    letter-spacing: 0.3;
    line-height: 24px;
    margin-top: 10px;
}
.training-photo-row-one{
    margin-top: 60px;
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
}
.row-one-photo-one{
    height: 215px;
    background:url(/images/exercise1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 125%;
    background-blend-mode: overlay;
    background-color: rgba(6, 255, 210, 0.5);
}
.row-one-photo-two{
    height: 215px;
    background: url(/images/exercise2.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 0, 0, 0.3) ;
}
.row-one-photo-three{
    height: 215px;
    background: url(/images/exercise3.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}
.training-photo-row-two{
    margin-top:0px;
    display: grid;
    grid-template-columns:1.7fr 1fr 1.3fr;
}
.row-two-photo-one{
    height: 215px;
    background:url(/images/exercise4.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}
.row-two-photo-two{
    height: 215px;
    background: url(/images/exercise5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color:rgba(66, 255, 0, 0.3) ;
}
.row-two-photo-three{
    height: 215px;
    background: url(/images/exercise6.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 71, 255, 0.3);
}
.row-one-photo-one p,.row-one-photo-three p,.row-two-photo-two p,
.row-two-photo-three p{
    position: relative;
    margin-left: 20px;
    margin-top:160px;
    color: #fff;
}
.row-one-photo-two p,.row-two-photo-one p{
    position: relative;
    margin-left: 20px;
    margin-top:160px;
    color: #fff;
}
/* BMI Calculator */
.bmi-text{
    margin: 0 auto;
    max-width: 630px;
    height: auto;
}
.bmi-text h1{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
}
.bmi-text p{
    font-size: 0.875rem;
    line-height: 24px;
    margin-top: 10px;
    color:rgba(255, 255, 255, 0.5);
}
.bmi-cal{
    margin-top: 80px;
    max-width: 1440px;
    height: auto;
    padding: 50px 190px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    gap: 175px;
}
.bmi-chart h3{
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
}
.bmi-chart table{
    margin-top: 50px;
    width: 320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
.bmi-chart th{
    font-size: 1rem;
    font-weight: 500;
    border:  1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.bmi-chart td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:12px 18px ;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculate h3{
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
}
.bmi-calculate p{
    font-size: 0.875rem;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 35px;
    color:rgba(255, 255, 255, 0.5);
}
.bmi-calculate .height{
    margin-top: 10px;
    margin-right: 10px;
    padding: 15px 20px;
    width: 265px;
    text-align: left;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
}
.bmi-calculate .weight{
    margin-top: 10px;
    padding: 15px 20px;
    width: 265px;
    text-align: left;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
}
.bmi-calculate .age{
    margin-top: 10px;
    margin-right: 10px;
    padding: 15px 20px;
    width: 265px;
    text-align: left;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
}
.bmi-calculate .gender{
    margin-top: 10px;
    padding: 15px 20px;
    width: 265px;
    text-align: left;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
}
.bmi-calculate .factor{
    margin-top: 10px;
    padding: 15px 20px;
    width: 545px;
    text-align: left;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.5);
}
.btn-cal{
    padding: 14px 50px;
    margin-top: 60px;
}
/* team section */
.team{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1060px;
}
.team-text{
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
}
.team-text h1{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: #fff;
}
.team-text p{
    font-size: 0.875rem;
    line-height: 24px;
    margin-top: 10px;
    color:rgba(255, 255, 255, 0.5);
}
.team-photo{
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 20px;
    max-width: 1060px;
    height: auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.team-photo-one{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: auto;
    border-radius: 18px;
    background: url(/images/trainer1.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-two{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 270px;
    border-radius: 18px;
    background: url(/images/trainer2.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-three{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 270px;
    border-radius: 18px;
    background: url(/images/trainer3.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-four{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 270px;
    border-radius: 18px;
    background: url(/images/trainer4.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-five{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 270px;
    border-radius: 18px;
    background: url(/images/trainer5.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-six{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 270px;
    border-radius: 18px;
    background: url(/images/trainer6.png);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-photo-one h3,.team-photo-two h3,.team-photo-three h3,
.team-photo-four h3,.team-photo-five h3,.team-photo-six h3{
    position: relative;
    margin-left: 20px;
    margin-top:210px;
    color: #fff;
}
.team-photo-one p,.team-photo-two p,.team-photo-three p,
.team-photo-four p,.team-photo-five p,.team-photo-six p{
    margin-left: 20px;
    margin-bottom: 20px;
    color:rgba(255, 255, 255, 0.5);
}
/* footer */
footer{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 60px 190px 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-text{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;
}
.footer-row-one h1{
    font-size: 4rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}
.footer-row-one p{
    font-size: 0.875rem;
    line-height: 24px;
    margin-top: 20px;
    color:rgba(255, 255, 255, 0.5);
}
.footer-row-two h3,.footer-row-three h3{
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
}
.footer-row-two li,.footer-row-three li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-row-two a,.footer-row-three a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
}
.footer-credit p{
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
hr{
    margin-top: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);;
}

/* responsive */
/* header */
@media screen and (max-width:576px){
    header{
        height: auto;
    }
    .menu{
        display: none;
    }
    .logo h1{
        margin-top: 20px;
        margin-left: 20px;
    }
    .menu-icon{      
        display:flex;
        margin-top: 20px;
        margin-right: 20px;
    }
     .hero-content{
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .hero-text{
        width: 350px;
    }
    .shape{
        font-family: 'Miama', sans-serif;
        font-size: 6rem;
        font-weight: 500;
    }
    .hero-text h1{
        margin: 0;
        margin-top: 50px;
        font-size: 2.5rem;
    }
    .hero-text p{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .fst-btn{
        display: none;
    }
    .scn-btn{
        display: inline;
    }
    .btn-pri{
        font-size: 1.125rem;
        padding: 10px 30px;
        border-radius: 40px;
    }
    .btn-sec{
        font-size: 1.125rem;
        padding: 10px 20px;
        border-radius: 40px;
       
    }
    .hero-img{
        width: 350px;
        height: 580px;
    }
    .hero-img img{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0;
        width: 100%;
        height: auto;
    }
    .hero-card-one{
        width: 160px;
        height: 75px;
        margin-bottom: -400px;
        margin-left: -10px;
        margin-right:-170px;
    }
    .hero-card-one-text h1{
        font-size:1.25rem ;
        color: #fff;
        font-weight: 900;
    }
    .hero-card-one-text p{
        margin-top: 5px;
        font-size:0.75rem ;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
    }
    .hero-card-two{
        width: 180px;
        height: 90px;
        margin-top: -120px;
        margin-left:-200px;
    }
    .hero-card-two-text h1{
        font-size:1.5rem ;
        color: #fff;
        font-weight: 900;
    }
    .hero-card-two-text p{
        margin-top: 5px;
        font-size:0.75rem ;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
    }
    /* habits */
    .habits{
        margin:0 20px ;
    }
    .habits-card{
        margin-top:60px;

        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    /* run-extra */
    .run-extra-content{
        border-radius: 0px;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }
    .run-extra-text p{
        font-size: 1rem;
    }
    .btn-ex{
        width: 100%;
        height: 60px;
    }
    .run-extra-img img{
        margin-top: 0px;
        height:100%;
        width: 100%;
        border-radius: 18px;
        object-fit: fill;
    }
    /* trainings */
    .trainings{
        margin:0 20px;
    }
    .row-one-photo-one{
        background:url(../images/exercise1.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 130%;
        background-blend-mode: overlay;
        background-color: rgba(6, 255, 210, 0.5);
        height: 140px;
        width: 100%;
    }
    .row-one-photo-two{
        height: 140px;
        width: 100%;
        background: url(../images/exercise2.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(255, 0, 0, 0.3) ;
    }
    .row-one-photo-three{
        display: none;
    }
    .row-two-photo-one{
        height: 140px;
        width: 100%;
        background: url(../images/exercise4.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .row-two-photo-two{
        height: 140px;
        width: 100%;
        background: url(../images/exercise5.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-color:rgba(66, 255, 0, 0.3) ;
    }
    .row-two-photo-three{
        display: none;
    }
    .training-photo-row-one{
        grid-template-columns:1fr 1fr;
    }
    .training-photo-row-two{
        grid-template-columns:0.8fr 1.2fr;
    }
    .row-one-photo-one p,.row-one-photo-two p,.row-two-photo-two p,
    .row-two-photo-one p{
    position: relative;
    margin-left: 20px;
    margin-top:110px;
    color: #fff;
    font-size: 0.875rem;
    }
    /* bmi section */
    .bmi-text{
        margin: 0 20px;
    }
    .bmi-text h1,.bmi-text p,.bmi-chart h3{
        text-align: center;
    } 
    .bmi-cal{
        padding: 50px 20px;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }
    .bmi-chart h3{
        text-align: center;
        font-size: 1.25rem;
    }
    .bmi-chart table{
        margin: 0 auto;
        margin-top: 25px;
    }
    .bmi-calculate h3{
        font-size: 1.25rem;
        text-align: center;
    }
    .bmi-calculate p{
        text-align: center;
    }
    .bmi-calculate .height,.bmi-calculate .weight{
        width: calc(50% - 10px);
    }
    .bmi-calculate .age,.bmi-calculate .gender{
        width: calc(50% - 10px);
    }
    .bmi-calculate .factor{
        width: 99%;
    }
    .btn-cal{
        margin-top: 35px;
    }
    /* team section */
    .team{
        margin-top: 65px;
    }
    .team-photo{
        margin: 0 20px;
        margin-top: 40px;
        grid-template-columns: repeat(1,1fr);
    }
}